<link rel="stylesheet" href="/assets/css/main.css" />
    <style>
        button {
            border: none;
            background-color: transparent;
            font-family: "Lucida Console", "Comic Sans MS";
            letter-spacing: .1em;
        }

        .log {
            background-color: transparent;
            border: none;
            font-family: "Lucida Console", "Comic Sans MS";
            letter-spacing: 0.1em;
        }
    </style>



    <!-- Header -->
    <header id="header">
        <div class="inner">
            <a href="/dashboard" class="logo">OfficeMarshall</a>
            <nav id="nav">
                <a style="padding: 0%">
                    <form action="/dashboard/add" method="GET">
                        <button type="submit">Add Documents</button>
                    </form>
                </a>
                <a style="padding: 0%">
                    <form action="/dashboard/refer" method="GET">
                        <button type="submit">Assign Documents</button>
                    </form>
                </a>
                <a style="padding: 0%">
                    <form action="/dashboard/documents" method="GET">
                        <button type="submit">View Documents</button>
                    </form>
                </a>
                <a style="padding: 0%">
                    <form action="/dashboard/employee" method="GET">
                        <button type="submit">Employee List</button>
                    </form>
                </a>
                <a href="/users/logout" class="btn btn-secondary log">Logout</a>
            </nav>
        </div>
    </header>
    <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    <!--header end-->

    <div>

        <h1 class="mt-4">View your Documents</h1>
        <p class="lead mb-3">Welcome
            <%= user.name %>
        </p><br>
        <a href="/dashboard" class="btn btn-secondary">Dashboard</a>
    </div>
    <br>
    <% include ./partials/messages %>
    <hr>
    <div>
        <h5>List of documents you have recieved:- </h5>
        <% if(typeof docs_name != 'undefined') { %>
            <ul>
                <% docs_name.forEach(doc =>{ %>
                    <li>
                        <p class= <%= doc.thread_closed %> >
                            <%= doc.doc_name %>
                        </p>
                    </li>
                    <% }); %>
            </ul>
            <% }; %>
    </div>
    <hr>
    <h5>View&nbsp&nbspDocument&nbsp&nbspPathway</h5>
    <hr>
    <div>
        <form action="/dashboard/documents" method="POST" enctype="form-data">
            <label for="doc_transition">
            <input type="text" id="selected_doc" name="selected_doc" placeholder="Enter Document name"></label>
            <button class='button' type="submit" id="save">Send</button><br>
        </form>
    </div>

    <div>

        <% if(typeof doc_transition != 'undefined') { %>
            <h5>List of all refers of <%=selected_doc%></h5>
            <ul>
                <% doc_transition.forEach(node => { %>
                    <li>Referred comment:
                        <%= node.comment %><br>Referred employee:
                            <%= node.employee_name %>
                    </li><br>
                    <% }); %>
            </ul>
            <% }; %>
    </div>
    <style>
        .true {
            background-color: rgba(235, 104, 100, 0.5);
        }
        
        .false {

            background-color: rgba(34, 178, 76, 0.5);
        }
    </style>
    <script>
        const user_js = 10;
        console.log(user_js);
    </script>
